*{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    display:flex;
    justify-content: space-evenly;
    height: 60px;
    background-color: #131921;
    color: white;
    align-items: center;

}

.nav-left{
    width: 217.64px;
    height: 60px;
    display:flex;
}


.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 49px;
    width: 100px;
    padding:1px 8px 0px 6px;
    margin: 1px;

}

.nav-logo{
    width: 114px;
    height: 56px;
    padding-top:4px;
    margin-left:11px;
    display: inline-block;
}

.border:hover{
    border: 1px solid white;
    border-radius: 2px;
}

.nav-address-button{
    background-color: transparent;
    border: none;
    height: 50px;
    width: 88.64px;
    padding: 0px  9px  0px 9px;
    margin: 5px 2px 5px 5px;
}

.nav-address{
    height: 60px;
    width: 90.638px;
}

p{
    display: inline;
}

.add-icon{
    display: flex;
}

.nav-fill-search{
    display: flex;
    flex-grow: 1;
}

.nav-search{
    display:flex;
    align-items: center;
    /* width: 651.91px; */
    height: 40px;
    margin: 0px 6px 0px 6px;
    /* padding: 10px 4px 10px 3px; */
    border-radius: 4px;
    flex-grow: 1;
}

.nav-search:focus-within{
    border: 3.5px solid #f08804;
    border-radius: 7px;
}

#input-search{
    /* width: 800.31px; */
    height: 40px;
    padding: 7px 10px 10px 0px;
    font-size: 1rem;
    border: none;
    flex-grow: 1;
    
}

.select-search{
    height: 40px;
    width: 45px;
    text-align: center;
    color: #0f1111;
    background-color: #f3f3f3ec;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-icon{
    width: 45px;
    height: 40px;
    font-size: 1.3rem;
    background-color: #febd68;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-tools-layout{
    display: flex;
}


.language-icon{
    /* width:47.375px; */
    height:50px;
    padding: 0px 6px 5px 7px;
    margin: 0px 1px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#british_flag{
    position: relative;
    top:5.7px;
}

#website_lang{
    font-weight: bolder;
    font-size: 0.8rem;
}

.dropdown_icon_lang{
    background-color: transparent;
    border: none;
    padding: 0px;
    color: #f3f3f3ec;
    position: relative;
    top:14px;
    left:2px;
    font-size: 0.5rem;
}

.whole-lag-icon{
    height: 45px;
}

.nav-lang-icon-anchortag{
    color: white;
    text-decoration: none;
}

.line1{
    height:17px;
}

.nav-link-accountlist{
    display: flex;
    height: 55px;
    padding: 0px 9px 0px 9px;
    margin-left:2px;
}

.nav-link-anchortag{
    text-decoration: none;
    color: white;
}

.line1_nav-link{
    font-size: 0.75rem;
    height: 14px;
    margin-top: 10px;
    position: relative;
    top:2px;
}

.line2_nav-link{
    font-size: 0.85rem;
}

.nav-link-text-part{
    justify-content: center;
    height: 42px;
    padding:0px 4px 8px 7px;
    margin:1px 1px 0px 1px;
}

.dropdown_icon_nav-link-accountlist{
    background-color: transparent;
    height: 20px;
    padding: 0px;
    border: none;
    margin-top:26px;
    font-size: 0.5rem;
}

.nav-orders-toolslayout{
    height: 40px;
    padding: 1px 9px 10px 9px;
    margin-left: 2px;
}

.Returns-orders{
    text-align: none;
    color: white;
}

.nav-order-inside-line1{
    font-size: 0.68rem;
    margin-top: 12px;
    position: relative;
    top:2px;
    /* padding-top: 1px; */
}

.nav-order-inside-line2{
    font-size: 0.85rem;
}

.nav-cart-toolslayout{
    /* display: flex; */
    margin: 0px 11px 0px 2px;
    padding: 0px 9px 11px 9px;
    width: 66px;
    height: 39px;
}

.cart-image-text-anchortag{
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}

.cart-inside{
    text-align: center;
    background-color: #0f1111;
    width: 18px;
    /* height: 10px; */
    position: relative;
    margin-top: -7px;
    top: 13px;
    left:10px;
    color: #f08804;
    font-size: 0.9rem;
}  

/* #cart-text-inside{
    background-color: #0f1111;
} */

.cart-icon{
    display: inline-block;
    margin: 0px;
    font-size: 1.8rem;
    width: 25px;
}

.cart-text{
    font-size: 0.85rem;
    padding-left: 5px;
}

 /*second navbar*/

.navbar-main-second{
    display: flex;
    align-items: center;
    background-color: #232f3e;
    height: 39px;
    padding-left: 11px;
}

.nav-hamburger-menu{
    display: flex;
    padding: 11px 9px 8px 9px;
    width: 40.413px;
    height: 19px;
}

#nav-hamburger-menu-text{
    color: white;
    padding-top: 2px;
    margin-left: 2px;
    font-size: 0.9rem;
}

.text-color{
    color: white;
    text-decoration: none;
}

.nav-xshop{
    display: flex;
    flex-grow: 1;
}

.swmslot{
    width: 18px;
    height: 39px;
}

.nav-div{
    display: flex;
    align-items: center;
    padding:0px 5px 0px 6px;
    height: 39px;
    width: 104.81;
}

.nav-a{
    padding: 11px 5px 8px 5px;
    /* margin: 5px 0px 6px 0px; */
    font-size: 0.9rem;
    height: 16px;
    font-weight: normal;
    /* width: 96px; */

}

/*hero section*/
.no-line{
    text-decoration: none;
    color: #0f1111;
}


.slider-window{
    display: flex;
    height: 600px;
    margin: 0px 10px 0px 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.background-image-link-anchor{
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 50%, #eaeded 100%),url(hero_image.jpg);
    background-size: cover;
    background-position: center;
}
.arrow-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    font-size: 3rem;
    font-weight: lighter;
    height: 250px;
    width: 84px;
    z-index: 10;
    background-color: transparent;
    border: none;
}

.pre{
    position: absolute;
    left: 10px;
}
.next{
    position: absolute;
    right: 10px;
}

.background-arrow-pre{
    position: relative;
    left: -32px;
    z-index: -3;
}
.background-arrow-next{
    position: relative;
    right:-32px;
    z-index: -3;
}

.shopping-section-blocks{
    position: relative;
    bottom: 349px;
    z-index: 3;
    padding: 0px 10px 0px 10px;
    height: 4350.5px;
}
.link-banner{
    padding: 0px 20px 0px 20px;
    display: flex;
    height: 40px;
}
.banner-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 14px 10px 14px;
    font-size: 14px;
    flex-grow: 1;
    background-color: #f5f6f6;
}
.card-layout{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    height: 860px;
    padding: 20px 10px;
}
.common-4-blocks{
    height: 420px;
    flex: 1;
    padding: 0px 10px;
}

.inside-common-4-blocks{
    display: flexbox;
    flex-wrap: wrap;
    height: 385px;
    padding: 20px 0px 15px 0px;
    background-color: white;
    /* border: 2px solid black; */
}

.common-blk-head{
    padding: 0px 20px;
    font-size: 13.5px;
    margin-bottom: 10px;
}

.common-blk-cntnt{
    padding: 0px 20px;
    margin-bottom: 44px;
    height: 303.70px;
}

/* for second row ....................*/
.common-blk-cntnt-box4{
    height: 276.400px;
    padding: 0px 20px;
    margin-bottom: 44px;
}

.common-blk-cntnt-top{
    margin-bottom: 8px;
    height: 151.85px;
    display: flex;
    justify-content: space-between;
}
/* for second row....................... */
.common-blk-cntnt-top-box4{
    margin-bottom: 8px;
    height: 138.20px;
    display: flex;
    justify-content: space-between;
}

.cntnt{
    padding-bottom: 36px;
}
.image{
    display: flex;
    justify-content: center;
}
.image-actual{
    width: 147.65px;
    height: 115.85px;
    object-fit: cover;
}

.image-title{
    margin-top: 1px;
    height: 36px;
    font-size: 0.77rem;
    font-weight: 500;
}
.image-title-actual{
    height: 18px;
}
.common-blk-cntnt-bottom{
    height: 151.85px;
    display: flex;
    justify-content: space-between;
}

/* for second row....................... */
.common-blk-cntnt-bottom-box4{
    height: 138.2px;
    display: flex;
    justify-content: space-between;
}

.no-line-blue{
    text-decoration: none;
    color:blue;
}
.common-boxes-blue-link{
    padding: 0px  20px;
    margin-bottom: 20px;
    position: relative;
    bottom: 20px;
}

.blue-link-text{
    height: 16.9px;
    font-size: 0.87rem;
    font-weight: 510;
}

.oneimg-blk-cntnt{
    margin: 0px 20px;
    height: 347.70px;
    display: flex;
    justify-content: center;
}

.oneimg-outer-div{
    margin-bottom: 44px;
    height: 303.70px;
}
.oneimg-blue-link-div{
    height: 16.9px;
    margin-bottom: 5px;
    padding: 0px  20px;
    position: relative;
    bottom: 20px;

}
.oneimg-actual{
    height: 303.70px;
    width: 310px;
    object-fit: cover;
}
body{
    background-color: #eaeded;
}

/*editing the box4 for 2nd row..........*/

.box4-img{
    height: 102.2px;
}

/* editing box1 for 2nd row............ */

#one-box4{
    height: 164.5px;
    display: block;
    margin: 0px;
}

.oneimg-blk-cntnt-div-box1-2nd{
    display: flex;
    flex-wrap: wrap;
    height: 276.40px;
    padding: 0px 20px;
    margin-bottom: 44px;
}
.oneimg-outer-div-box1-2nd{
    height: 145px;
}
.oneimg-actual-box4{
    height: 145px;
    width: 310px;
    object-fit: cover;
}
.title-2nd-bx1{
    margin-top: 1px;
    height: 19.5px;
    font-size: 0.77rem;
    font-weight: 500;
}
.box1-2nd-bottom-div{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    height: 99.9px;
    margin-top: 12px;
}
.box1-2nd-bottom{
    height: 94.5px;
}

.card2_3{
    margin-left: 5.563px;
}
.box1-2nd-bottom-card1-anchor-div{
    height: 75px;
}

.box1-2nd-bottom-card1-image{
    height: 75px;
}

.bottom-images-of-bx1-2nd{
    width: 100px;
    object-fit: cover;
}

/* Sroll section............................ */

/* .scroll-section{
    padding: 0px 10px;
} */

.scroll-section-out-div-content{
    height: 281.5px;
    padding: 0px 20px;
}

.scroll-section-inside-div{
    height: 261.50px;
    padding: 10px 20px 10px 20px;
    background-color: white;
}
.scroll-section-head{
    height: 31.5px;
    margin-top: 10px;
    font-size: 13.5px;
}

.scroll-section-carousel-view-div{
    height: 220px;
}

.scroll-section-carousel-view-list{
    height: 210px;
    margin-bottom: 10px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}
.item-carousel-list{
    height: 200px;
    padding: 5px;
}
.item-carousel-list-inside{
    height: 200px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}
.item-link-carousel-anchor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    width: 160px;
}
.item2{
    width: 145px;
}
.item3{
    width: 160px;
}

.item4-image-carousel{
    width: 270px;
    height: 149px;
}
.arrow-icon-cntn{
    font-size: 1.8rem;
}

.arrow-link-anchor-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    width: 40px;
    height: 100px;
    position: relative;
    bottom: 165px;
}
.prev{
    visibility: hidden;
    opacity: 0;
    padding-right: 5px;
    box-shadow: 2px 2px 5px 0 rgba(37, 38, 38, 0.5);
    transition: visibility,opacity 1s ease-in-out;
}

.next{
    visibility: hidden;
    opacity: 0;
    justify-self: flex-end;
    padding-left: 5px;
    box-shadow: -2px 2px 5px 0px rgba(37, 38, 38, 0.5);
    left: 3px;
    top: -265px;
    transition: visibility,opacity 1s ease-in-out;
}

.scroll-section-carousel-view-div:hover .prev,
.scroll-section-carousel-view-div:hover .next{
    visibility: visible;
    opacity: 1;
}
